/* Global Selectors */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dfe6e9;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: deepskyblue;
  border-bottom: 1.5px solid #00394d;
}

/* Navigation Selectors */
.logo {
  margin: 0 0 0 .5em;
}

.logo,
.navigation {
  list-style: none;
  text-transform: uppercase;
}

.logo a,
.navigation a {
  text-decoration: none;
  letter-spacing: .45rem;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: #00394d;

}

.navigation a:hover {
  background: #00394d;
  color: deepskyblue;
}

.logo a:active {
  color: #00394d;
  cursor: default;

}

.logo a {
  color: #00394d;
  cursor: default;
}

/* Media Box */
.media_box {
  margin: 1.5em 5em;
  background-color: #00394d;
  background-image: url('https://images.unsplash.com/photo-1520022283252-ca69c721d247?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1115&q=80');
  background-position: bottom;
  opacity: 55%;
  height: 25em;
  width: auto;
  display: flex;
  justify-content: center;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 5px deepskyblue;
}

.media_box img {
  height: 30em;
  padding: 2em;
  border-radius: 5px;

}

.hero_text {
  padding: 10em;
  color: white;
  justify-content: center;
}

/*Gallery Cards */
.card_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 20em;
  height: auto;
  margin: 2em;
  text-align: center;
  box-shadow: 2px 2px deepskyblue;
}

.cardphoto {
  border-radius: 50%;
  height: auto;
  width: 10%;

}

.cardphoto img {
  height: 10em;
  width: 20em;
  border-radius: 5px;
}

/* Bottom Contact Button*/
footer {
  height: 3rem;
  background-color: deepskyblue;
}

.footer-flex-container {
  display: flex;
  justify-content: center;

}

footer ul {
  list-style: none;

}

footer li {
  padding: 1em;
}

footer li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: .25em;
  margin: 0 auto;
}

footer li a:hover {
  background-color: white;
  color: #00394d;
  border: 1px solid #00394d;
}